---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
.col-lg-12{
    padding-left: 0px !important;
    padding-top: 20px !important;
    padding-right: 0px !important;
    padding-bottom: 20px !important;
}